<ion-header>
  <ion-navbar>
    <ion-title>我的关注列表</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let i of items">
    <ion-card-content>
      <ion-card-title>
        {{i.blockname}}
      </ion-card-title>
      <ul *ngIf="i.monitor.value">
        <li *ngFor="let v of i.monitor.value.split('|')">
          {{v}}
        </li>
      </ul>
    </ion-card-content>
  </ion-card>

  <div class="empty" *ngIf="items && items.length == 0">
    暂无关注信息
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!allLoaded">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab right bottom>
   <button ion-fab color="danger" (click)="addLaunchy()"><ion-icon name="add"></ion-icon></button>
 </ion-fab>
</ion-content>
